
$darkpink: #FF89BF;
$palepink: #FDD9E3;
$yellow: #FFEEA8;
$paleblue: #E0F8FC;
$skyblue: #59D7EE;
$palepurple: #BDC0F7;
$darkpurple: #9FA3E4;
$queenblue: #41658a;

$red: #ff7d7d;
$blue: #18668d;
$pink: #ffe1e1;
// $white: #fffbf2;

$lightgreen: #dde7e6;
$darkbrown: #716271;
$lightbrown: #BFB5BF;
$darkgreen: #acc4c4;
$blue: #2A5B7C;
$white: #ffffff;



* {
  color: $darkbrown;
  box-sizing: border-box;
  margin: auto;
  font-family: 'Roboto Slab', serif;
}



body {
  background-color: $lightgreen;
}

.main-home {
  background-image: url('https://i.imgur.com/uj1Byqs.png?1');
  background-size: cover;
  height: 100vh;
}

#root {
  height: 100vh;
}

::selection {
  // background-color: $paleblue;
}

.menu-nav {
  // background-color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-list {
    display: flex;
    flex-direction: row;
    // background-color: white;
    padding: 0;
    margin: 0;
    list-style:none;
    justify-content: space-between;
    
    li {
      display: flex;
      // background-color: white;
      // justify-content: space-around;
      text-decoration: none;

    }
  }
}

a {
  text-decoration: none;
  // background-color: white;

  &.menu-list-link {
    
    color: $blue;
    font-weight: bold;
    font-size: 25px;
    padding: 0 10px;

      &:hover {
        color:$lightbrown;
      }
  }
}

.main-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

h2 {
  // background-color: white;
  text-align: center;
  padding: 5px;
  margin: 0;

    &.section-header {
      color: $blue;
      font-size: 30px;
      
    }

    &.homepageTitle {
      background-color: $white;
      border-radius: 7px;
    }

}

h3 {
  // background-color: white;
  text-align: center;
  padding: 0;

    &.proj-subhead {
      color: $darkbrown;
    }

    &.proj {
      font-size: 25px;
      padding-bottom: 15px;
    }

    &.homepageTitle {
      background-color: $white;
      border-radius: 7px 7px 0px 0px;
      padding: 5px;
    }
}

.header-container {
  display: flex;
  display: row;
  justify-content: center;
}

.section-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width:  80%;
}

.col-div {
  flex-direction: column;
  margin-right: 30px;
  justify-content: center;
}

p {
  // background-color: white;
  // text-align: center;
  padding: 20px;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: justify;

  &.proj {
    margin: 0;
    
  }

  &.me {
    padding: 10px;
  }
}

.smaller-me {
  border-radius: 10px;
  border: 2px solid $blue;
}


.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  // background-color: white;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 10px;
}

#linkedin {
  width: 60px;

}

#email {
  width: 60px;
}
.skills-grid {
  display: flex;
  flex-direction: column;
  // background-color: white;
}

.skills-row {
  display: flex;
  display: row;
  justify-content: space-evenly;
  // padding: 10px;
}

.icon-pair {
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  display: flex;
}

.icon-label {
  display: none;
}

i {
  font-size: 60px;
  color: $blue;
  padding: 10px;
  background-color: none;
}


.icon-pair:hover {
  .icon-label {
    display: block;
    position: absolute;
    top: 40px;
    background-color: $lightgreen;
    font-weight: bold;
  }
}

.projects {
  color: $blue;

  &:hover {
    cursor: pointer;
    color: $lightbrown;
  }
}

.proj-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  max-width: 70%;
}

.proj-row-container{  
  // background-color: white;
  display: flex;
  flex-direction: row;
 
}

.proj-subhead {
  padding: 10px 0;
  // background-color: white;
  font-size: 25px;
}

.projCol {
  // background-color: white;
}

#projImage {
  margin: 0;
  // padding: 10px;
  border: 2px solid $blue;
  border-radius: 10px;
}



.iconsContainer {
  display: flex;
  flex-direction: row;
  // padding-top: 10px;
  // padding-bottom: 10px;
  justify-content: center;
  
}

.projIcons {
  margin: 0;
}

#icon {
  font-size:30px;
}

#projGithub {
  font-size: 50px;
  padding: 0px;
}

.linkIcon {
  width: 50px;
}

  
#secondIcons {
  padding-bottom: 15px;
}
  
// .footer {
//   margin-top: 10px;
//   padding-top: 10px;
//   display: flex;
//   flex-direction: column;
  
// }

// .footerImg {
//   height: 50px;
//   width: 100%;
//   background-image: url('https://i.imgur.com/uj1Byqs.png?1');
//   background-size: cover;
//   background-position: center bottom;
// }

